<!DOCTYPE html>
<html dir="ltr" lang="pt-BR" style="overflow-y: scroll; overscroll-behavior-y: none; font-size: 16px;">
<head>
    <meta charset="utf-8">
    <title>Feira Técnica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/search.css">
</head>

<body class="body-style">
    <nav class="nav-style">
        <div class="sidebar-header-style">
            <div class="d-flex justify-content-center">
                <a class="logo-wrapper-style" style="color: white; text-decoration: none;">
                    <img class="logo-img" src="../img/univap.png" alt="Logo">
                </a>
            </div>

            <button class="toggle-btn-style" id="btnSide">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16" style="color: white;">
                    <path d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753"/>
                </svg>
            </button>
        </div>

        <div class="sidebar-links-style">
            <a class="link-style" style="color: white; text-decoration: none;" href="home.html" data-bs-toggle="home" title="Acessar Home">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
                </svg>
                <span class="hidden-style">Home</span>
            </a>
            <a class="link-style link-active" style="color: white; text-decoration: none;" href="disciplina.html" data-bs-toggle="disciplina" title="Acessar Disciplina">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                    <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                </svg>
                <span class="hidden-style">Disciplina</span>
            </a>
            <a class="link-style" style="color: white; text-decoration: none;" href="atividade.html" data-bs-toggle="atividade" title="Acessar Atividade">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-check" viewBox="0 0 16 16">
                    <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                </svg>
                <span class="hidden-style">Atividade</span>
            </a>
        </div>

        <div class="sidebar-bottom">

            <div class="user-profile-style">
                <div class="user-avatar-style">
                    <img src="../img/user2.png" alt="">
                </div>
                <div class="user-details-style hidden-style">
                    <p class="username-style" id="txtNome_onload"></p>
                    <p class="user-email-style" id="txtEmail_onload"></p>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">        
        
        <div class="search-bar-container">
            <form action="" class="search-bar">
                <input type="text" id="txtPesquisa" required>
                <button class="search-btn" type="submit"></button>
            </form>
        </div>        

        <div class="row">
            <div class="col-4">
                <div class="mt-4 p-5 text-white rounded">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary mb-4" id="btnNomeDisciplina">
                                    <p class="h1" id="lblNomeDisciplina"></p>
                                </button>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-danger mb-4" data-bs-toggle="modal" data-bs-toggle="excluir" title="Sair da Disciplina" data-bs-target="#modalDisciplinaSair">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <div class="d-flex align-items-center">
                                    <p class="h2 mb-0" id="lblCodeDisciplina"></p>
                                    <button type="button" class="btn btn-primary ms-2" id="btnExpandCode" data-bs-toggle="modal" title="Expandir" data-bs-target="#modalCode">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707m0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707m-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>                    

                </div>                
            </div>

            <div class="col-4">
                <div class="d-flex justify-content-center mt-5 p-5 text-white rounded">
                    <h1>
                        Atividades
                    </h1>
                </div>                
            </div>

            <div class="col-4">
                <div class="d-flex flex-column justify-content-end mt-4 p-5 text-white rounded">
                    <div class="container mb-3"> 
                        <div class="row justify-content-end align-items-center">
                            <div class="col-auto">
                                <p class="h2 mb-0">Gestão de Notas</p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row justify-content-end align-items-center">
                            <div class="col-auto">
                                <button type="button" class="btn btn-success" data-bs-toggle="excel" title="Exportar Excel">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>                                     
            </div>

            <script>

            </script>

        </div>

        <div id="jumbotrons-container"></div> <!-- Container para os jumbotrons -->

        <br>
    </div>

    <!-- MODAL DA ATIVIDADE DELETE -->
    <div class="modal fade" id="modalDisciplinaSair" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDisciplinaSair" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="" style="color: black;">Deseja Sair da Disciplina?</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="btn-group d-flex w-100 mt-3 mb-3">
                            <button type="submit" class="btn btn-danger w-50" id="btnDisciplinaSair" data-bs-toggle="createInput" title="Adicionar Input">Sim</button>
                            <a type="button" class="btn btn-secondary w-50" id="" data-bs-toggle="putInput" title="Editar Input" href="disciplina.html">Não</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL DO CODIGO -->
    <div class="modal fade" id="modalCode">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" style="color: black;">Código da Disciplina</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                    <p class="display-1 text-center" id="lblCodeExpand" style="color: black;">A</p>
                </div>
    
                <!-- Modal footer -->
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/disciplina/disciplina_onload.js"></script>
    <script type="text/javascript" src="js/disciplina/disciplina_expand.js"></script>
    <script type="text/javascript" src="js/disciplina/disciplina_sair.js"></script>
    <script>
        const sidebarBtn = document.getElementById("btnSide");
        const bodyElement = document.body;

        sidebarBtn.addEventListener("click", () => {
            bodyElement.classList.toggle("body-active");
        });

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="editar"], [data-bs-toggle="excluir"], [data-bs-toggle="modal"], [data-bs-toggle="atividade"], [data-bs-toggle="excel"], [data-bs-toggle="grafico"], [data-bs-toggle="filtro"], [data-bs-toggle="home"], [data-bs-toggle="disciplina"], [data-bs-toggle="atividade"], [data-bs-toggle="desafio"], [data-bs-toggle="configuracao"]'));

        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });

    </script>
</body>
</html>
