<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="js/theme.js"></script>
  <style>
    body {
      transition: background-color 0.3s, color 0.3s;
    }

    .dark-mode {
      background-color: #333;
      color: #fff;
    }

    .light-mode {
      background-color: #fff;
      color: #000;
    }

    .sticky {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    .fixed-col {
      position: fixed;
      top: 70px; /* altura da navbar */
      height: calc(100vh - 70px); /* altura total menos a altura da navbar */
      overflow-y: auto;
    }

    .fixed-col-left {
      left: 0;
      width: 25%;
    }

    .fixed-col-right {
      right: 0;
      width: 25%;
    }

    .main-content {
      margin-left: 25%;
      margin-right: 25%;
    }
  </style>
</head>
<body class="dark-mode" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" tabindex="0">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="navbar-brand" href="#">
          <img src="img/univap.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="home.html" id="btnHomeNavbar">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="disciplina_painel.html" id="">Disciplinas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="btnTesteNavbar">Teste</a>
      </li>
    </ul>
    <div class="justify-content-end text-white">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="yes" checked>
        <label class="form-check-label" for="mySwitch" id="lblTheme">Modo Escuro</label>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="mt-4 p-5 bg-secondary text-white rounded">
        <button type="button" class="btn btn-primary mb-4">
          <p class="h1" id="lblNomeAtividade"></p>
        </button>
        <p>Clique abaixo para editar ou excluir a disciplina</p>
        <div class="btn-group d-flex w-100">
          <button type="button" class="btn btn-warning w-50">Editar</button>
          <button type="button" class="btn btn-danger w-50">Excluir</button>
        </div>
      </div> 
      <div class="mt-4 p-5 bg-secondary text-white rounded scrollspy-item">
        <!-- AREA ONDE QUERO OS LIST GROUPS -->
        <div class="btn-group d-flex w-100 mt-3">
          <button type="submit" class="btn btn-success w-50" id="btnUploadInput">Adicionar Input</button>
          <button type="button" class="btn btn-danger w-50" id="btnRodarSimulacao">Excluir Input</button>
        </div>
      </div>    
    </div>
    <div class="col-sm-9">
      <div class="mt-4 p-5 bg-secondary text-white rounded scrollspy-item">
        <div class="row">
          <div class="col">
            <h2>Script</h2>
            <div class="mt-4 p-5 bg-dark text-white rounded scrollspy-item">
              <!-- CONTEUDO DO ARQUIVO PROFESSOR BEM AQUI -->
            </div>
          </div>
          <div class="col">
            <h2>Input</h2>
            <div class="mt-4 p-5 bg-dark text-white rounded scrollspy-item">

              
              <div class="form-floating">
                <textarea class="form-control" id="txtInput" style="width: 100%; height: 120px"></textarea>
              </div>

              <br>

              <div class="btn-group d-flex w-100 mb-3">
                <button type="submit" class="btn btn-primary w-50" id="btnUploadInput">Adicionar Input</button>
                <button type="button" class="btn btn-warning w-50" id="btnRodarSimulacao">Editar Input</button>
                <button type="button" class="btn btn-danger w-50" id="btnRodarSimulacao">Excluir Input</button>
              </div>

              <div class="btn-group d-flex w-100 mb-3">
                <button type="submit" class="btn btn-success w-100" id="btnUploadInput" disabled>Salvar Input</button>
              </div>

            </div>
            <h2>Output</h2>
            <div class="mt-4 p-5 bg-dark text-white rounded scrollspy-item">
              <div class="mt-4 p-5 bg-light text-dark rounded scrollspy-item">
                6
              </div>
              <div class="btn-group d-flex w-100 mt-3">
                <button type="button" class="btn btn-primary w-100">Rodar Simulação</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DA ATIVIDADE -->
<div class="modal fade" id="modalAtividade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalAtividadeLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="modalAtividadeLabel">Criação de Atividade</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="input-group mt-3 mb-3">
            <span class="input-group-text">Nome</span>
            <input type="text" class="form-control" id="txtNomeAtividade" placeholder="Nome da Disciplina">
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="btnAtividade">Criar</button>
      </div>
    </div>
  </div>
</div>

<br>
<script type="text/javascript" src="js/atividade/atividade_onload.js"></script>
<script type="text/javascript" src="js/atividade/upload_input.js"></script>
</body>
</html>
